head
    link( rel="icon" href="images/favicon.ico" type="image/x-icon" )
    link( rel="stylesheet" href="css/boot.css" id="boot-styles-link" )
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://code.jquery.com/jquery-3.4.1.slim.js")
    script(src="js/apiCalls.js")
