doctype html
html( lang="pt-br" )
    head
        title= pageName
        meta( charset='utf-8')
        include includes/config.pug
        link( rel="stylesheet" href="../css/form.css" id="form-styles-link" )
        link( rel="stylesheet" href="../css/boot.css" id="boot-styles-link" )

    body
        .main-container
            form(action="/account/login", method="post")
                h1 Login :)
                input(type="email" name="email" placeholder="Email:" )
                input(type="password", name="password" placeholder="********" )
                input(type="submit", value="Login")
            .error
                h4= error
