h1.title {
    font-weight: 400;
    font-size: 28pt;
    margin-top: 15px;
    text-align: center;
}

.user-informations {
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
}

.user-informations ul {
    font-size: 18pt;
    margin-top: 40px;
    list-style: none;
    max-width: 600px;
    padding: 30px 10px;
    border-radius: 8px;
    display: block;
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: #DDD;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    border: 1px solid #777;
    transition: all 0.3s ease 0s;
}

.user-informations ul li {
    margin: 8px 0;
}