  .homeTitle {
      font-weight: 700;
      text-align: center;
      margin-top: 28px 0;
      font-size: 28pt;
  }
  
  .pageChoose {
      margin-top: 48px;
  }
  
  .pageChoose form {
      width: 100%;
      text-align: center;
  }
  
  .pageChoose button {
      width: 25%;
      display: inline-block;
      margin: 12px auto;
      cursor: pointer;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      padding: 36px;
      border-radius: 5px;
      transition: all 0.3s ease 0s;
      border: none;
      background: #404040;
      font-weight: 100;
  }
  
  .pageChoose button:hover {
      color: #404040 !important;
      font-weight: 700 !important;
      letter-spacing: 3px;
      background: #EEE;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      border: 1px solid #777;
      transition: all 0.3s ease 0s;
  }