 form .pageChoose {
     width: 100%;
 }
 
 .pageChoose button {
     height: 30px;
     width: 25%;
     display: block;
     margin: 15px auto;
     cursor: pointer;
 }
 
 .homeTitle {
     font-weight: 200;
     text-align: center;
 }